body,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
}

canvas {
	display: block;
}


  #startScreen1 {
	margin: auto;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url("shooot.jpg");
	background-color: #222;
	background-repeat:no-repeat;
	background-size:cover;
	color: white;
	text-align:right;
	cursor:default ;
  }
  
  body>#startScreen1>button{
	  top: 2%;
	  margin: 2%;
	  cursor: pointer;
	  width: 300px;
	  padding:2%;
	  border-radius: 20px;
	  background-color: #000000da;
	  color: #EEEEEE;
	  align-items: center;
	  display: block;
	  
  }

  #quitMenu{
	position: fixed;
	display: none;
	width: 30%;
	height: 30%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	cursor:default ;
  }
  #quitConfirm{
	position:fixed;
	background-color: rgba(255, 0, 0, 0.9);
	display: block;
	width: 30%;
    height: 20%;
	top: 40%;
	left: 35%;
	border: 2px solid rgb(0, 0, 0);
	padding: 10px;
	border-radius: 35px 15px;
  }

  #quitMenu>#quitConfirm>h4{
	
	  text-align: center;
	  top:0%;
	  margin: 0%;
	  color: rgb(255, 0, 0);
	  background-color: rgb(36, 0, 6);
	  border: 2px solid rgb(255, 255, 255);
	  padding: 10px;
	  border-radius: 18px;

  }

  #quitMenu>#quitConfirm>#quitButtons{
	height: 100%;
	width: 100%;
	text-align-last: center;
	margin-top: 10%;
  }
  #quitMenu>#quitConfirm>#quitButtons>button{
	display: inline-block !important;
	background-color: rgb(36, 0, 6);
	color: white;
	padding: 15px;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	margin: 0% 10% 0% 10%;
	cursor: pointer;
	border: 2px solid rgb(255, 255, 255);
	padding: 10px;
	border-radius: 35px 15px;
	text-shadow: 2px 2px #414141;
	  }



 #info14 {
		position: fixed;
		display: block;
		background-color: rgba(247, 247, 247, 0.5);
		z-index: 2;
		cursor: pointer;
		left: 96%;
		top:0;
	  }

 #close{

	position: fixed;
		display: block;
		background-color: rgba(255, 255, 255, 0.37);
		z-index: 2;
		cursor: pointer;
		left: 96%;
		top:0;
 }

	  
#info1 {
	position: fixed;
	display: block;
	background-color: rgba(3, 3, 3, 0.603);
	z-index: 2;
	cursor: pointer;
	left: 74%;
	right: 0%;
	top:4%;
	color: rgba(0, 128, 0, 0.356);
	text-align:left;
	padding: auto;
  }
 

  #pause {
		position: fixed;
		display: block;
		background-color: rgba(0, 0, 0, 0);
		z-index: 2;
		cursor: pointer;
		left: 48.5%;
		top:0;
	  }
	
	
	  #pauseMenu {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 2;
		cursor:default ;
	  }

  #pauseMenuContent{
	position:fixed;
	background-color: rgb(36, 0, 6);
	display: block;
	width: 30%;
    height: 20%;
	top: 40%;
	left: 35%;
	border: 2px solid rgb(161, 161, 161);
	padding: 10px;
	border-radius: 18px;
	
  }

  #pauseMenu>#pauseMenuContent>h3{
	  text-align: center;
	  top:0%;
	  margin: 0%;
	  color: rgb(255, 255, 255);
	  background-color: rgb(255, 0, 0);
	  border: 2px solid rgb(255, 253, 253);
	  padding: 10px;
	  border-radius: 35px 15px;
	}
  
  #pauseMenu>#pauseMenuContent>#pauseMenuButtons{

	  height: 100%;
	  width: 100%;
	  text-align-last: center;
	  margin-top: 10%;
  }

#pauseMenu>#pauseMenuContent>#pauseMenuButtons>button{
display: inline-block !important;
background-color: rgb(255, 0, 0);
color: rgb(255, 255, 255);
width: 25%;
height: 30%;
padding: 15px;
text-align:center;
vertical-align: middle;
margin: 0% 3% 0% 3%;
cursor: pointer;
border: 2px solid rgb(250, 249, 249);
border-radius: 35px 15px;
text-shadow: 1px 1px #272727;
  }
body {
	background-image: url('img/hot_up.png');
	cursor: crosshair;
	font-family: Georgia, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#hud {
	bottom: 10px;
	position: absolute;
	right: 10px;
	z-index: 100;
}
#radar {
	background-color: #EEEEEE;
	border: 1px solid black;
	bottom: 10px;
	left: 10px;
	position: absolute;
	z-index: 100;
}
#intro {
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 32px;
	opacity: 0.7;
	padding: 120px;
	text-align: center;
	z-index: 1001;
}
#hurt {
	background-color: red;
	display: none;
	left: 0;
	opacity: 0.15;
	pointer-events: none;
	position: absolute;
	top: 0;
	z-index: 1002;
}
#load-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	z-index: 100;
	transition: top 1s;
}



#load-screen div {
	animation: spin 1s infinite;
	border: dashed 5px rgba(255,255,255,0.5);
	border-radius: 100%;
	height: 50px;
	left: calc(50% - 25px);
	position: relative;
	top: calc(50% - 25px);
	width: 50px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.hidden {
	top: -100% !important;
}

@keyframes boom {
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

#startScreen div {
  height: 50%;
}

#startScreen h1 {
  position:absolute;
  width: 100%;
  color: #222;
  font-size: 40px;
  text-shadow: 0 1px 2px;
  animation: pulse 6s linear infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

#startScreen p {
  font-weight: bold;
}

#startScreen span {
  position: relative;
  font-size: 18px;
  animation: up 2s linear infinite;
  animation-delay: 3s;
}

@keyframes up {
  25% {
    top: -4px;
  }
}

#gameOn {
  font-size: 100px;
  text-align: center;
  text-shadow: 0 2px 0 limegreen, 0 1px 64px white;
  animation: pulse 1.5s linear infinite;
}

#objectiveContainer{
	margin: auto;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.781);
	left: 0%;
	top: 0%;
	z-index: 2;
	cursor:default ;
	border: 2px solid rgba(0, 0, 0, 0.623);
	padding: 10px;
	border-radius: 18px;
  }

#gameObjective{
	margin: auto;
	position: fixed;
	width: 50%;
	height: 65%;
	left: 25%;
	top: 10%;
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: left;
	cursor:default ;
	border: 2px solid rgb(0, 0, 0);
	padding: 10px;
	border-radius: 18px;
}
#objectiveContainer>#gameObjective>h4{
	
	text-align: center;
	top:3%;
	left: 3%;
	right: 3%;
	bottom: 3%;
	color: whitesmoke;
	background-color: rgb(36, 0, 6);
	border: 2px solid rgb(0, 0, 0);
	padding: 10px;
	border-radius: 18px;

}
#objectiveContainer>#gameObjective>button{
	
	background-color: rgb(184, 184, 184);
	color: hsl(0, 0%, 0%);
	width: 100%;
	height: 50px;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	margin: 0% 3% 0% 3%;
	cursor: pointer;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 35px 15px;
	text-shadow: 1px 1px #272727;
	  }

	  #Shooter {
		position: fixed;
		display: block;
		background-color: rgb(3, 3, 3);
		z-index: 2;
		cursor: pointer;
		left: 1%;
		top:0%;
		color: rgb(255, 255, 255);
		text-align:left;
		padding: auto;
	  }
	  #timer {
		position: fixed;
		display: block;
		background-color: rgba(3, 3, 3, 0.603);
		z-index: 2;
		cursor: pointer;
		left: 0%;
		top:90%;
		color: rgba(0, 128, 0, 0.356);
		text-align:left;
		padding: auto;
	  }

	  #GameLevels {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 2;
		cursor:default ;
	  }

	  #TheLevels{
		position:fixed;
		background-color: rgba(0, 0, 0, 0.9);
		display: block;
		width: 30%;
		height: 20%;
		top: 40%;
		left: 35%;
		border: 2px solid rgb(161, 161, 161);
		padding: 10px;
		border-radius: 18px;
		
	  }

	  #GameLevels>#TheLevels>h4{
		text-align: center;
		top:0%;
		margin: 0%;
		color: white;
		background-color: rgb(36, 0, 6);
		border: 2px solid rgb(0, 0, 0);
		padding: 10px;
		border-radius: 21px 14px;
	  }

	  #LevelButtons{

		height: 100%;
		width: 100%;
		text-align-last: center;
		margin-top: 10%;
	}
  #GameLevels>#TheLevels>#LevelButtons>button{
  
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  width: 40%;
  height: 30%;
  padding: 15px;
  text-align:center;
  margin: 0% 3% 0% 3%;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 35% 15%;
  text-shadow: 1px 1px #272727;
	}

	#creditsContainer{
		margin: auto;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.781);
		left: 0%;
		top: 0%;
		z-index: 2;
		cursor:default ;
		border: 2px solid rgba(0, 0, 0, 0.623);
		padding: 10px;
		border-radius: 18px;
	  }
	
	#creditsContent{
		margin: auto;
		position: fixed;
		width: 50%;
		height: 65%;
		left: 25%;
		top: 10%;
		background-color: rgb(0, 0, 0);
		color: white;
		text-align: left;
		cursor:default ;
		border: 2px solid rgb(0, 0, 0);
		padding: 10px;
		border-radius: 18px;
	}
	#creditsContainer>#creditsContent>h4{
		
		text-align: center;
		top:3%;
		left: 3%;
		right: 3%;
		bottom: 3%;
		color: whitesmoke;
		background-color: rgb(97, 97, 97);
		border: 2px solid rgb(0, 0, 0);
		padding: 10px;
		border-radius: 18px;
	
	}
	#creditsButton{

		height: 100%;
		width: 100%;
		text-align-last: center;
		margin-top: 10%;
	}
	#creditsContainer>#creditsContent#creditsButton>button{
		
		background-color: rgb(184, 184, 184);
		color: hsl(0, 0%, 0%);
		width: 100%;
		height: 50px;
		padding: 15px;
		text-align: center;
		vertical-align: middle;
		margin: 0% 3% 0% 3%;
		cursor: pointer;
		border: 2px solid rgb(0, 0, 0);
		border-radius: 35px 15px;
		text-shadow: 1px 1px #272727;
		  }
	

	